NEXTAUTH_SECRET=oJF0Ok+kUm8En9nR1wvlmXB/NY6wrWCyOLP7/vjTmkI=
NEXTAUTH_URL=http://localhost:3002/
NEXT_GOOGLE_SHEET_TRANSLATIONS_URL=https://docs.google.com/spreadsheets/d/1iLWfXQcuxCTkaY731AVpyIZmFEDSOSuxRxzrdDZRIdQ/edit?usp=sharing

